body{
    display:flex;
    height: 100vh;
    width:100vw;
    margin: 0;
}
.image-container{
    display:flex;
    left:0;
    position:relative;
    width: 45vw;
}
.subway{
    width: 45vw;
    z-index: 0;
}
.box{
    background-color: black;
    opacity: 0.4;
    width: 45vw;
    position:absolute;
    z-index: 1;
    top:35vh;
    height:17%;
}
.odin-logo-container{
    height:17%;
    justify-content: center;
    top:35vh;
    display:flex;
    width:100%;
    opacity: 0.9;
    position:absolute;
    z-index: 1;
}
.odin-quote-container{
    display: flex;
    align-items: center;
    font-size: 40px;
    color:white;
    font-family: Helvetica;
    font-weight: 400;
}
.right-side{
    display:flex;
    flex-direction: column;
    font-family: Helvetica;
    right: 0;
    position: relative;

}
.top-quote-container{
    display: flex;
    align-items: center;
    height:28vh;
    font-family: Helvetica;
    font-size: 25px;
    white-space: initial;
    color: black;
    background-color: rgb(230, 230, 230);
    width:55vw;
}
.top-quote{
    margin-top: 10%;
    margin-left: 5%;
}
.sign-up-container{
    width:55vw;
    font-weight:300;
    font-size: 25px;
    color: black;
    height:42vh;
}
.sign-up-quote{
    margin-top: 2.5%;
    margin-left: 5%;
}
.input-container{
    display: flex;
    margin-top:5%;
    margin-left:5%;
}
input{
    width:250px;
    height: 18px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 5px;
}
input:focus{
    outline: none;
    border: 2px solid rgb(255, 185, 56);
    box-shadow: 3px 3px 3px grey;
}
[id$="-container"]{
    margin-bottom:10%;
    font-size: 21px;
}
.left-sign-up, .right-sign-up{
    display: flex;
    flex-direction: column;
}
.left-sign-up{
    margin-right:5%;
}
.log-in-container{
    display:flex;
}
input,label{
    display:block;
}
.create-account{
    width:55vw;
    color: black;
    height: 30vh;
    bottom:0;
    background-color: rgb(230, 230, 230);
}
.log-in-container{
    margin-top: 4%;
    margin-left:5%;
    font-weight:300;
    font-size: 25px;
}
a{
    color:orange;
    text-decoration: none;
}
button{
    margin-top:30px;
    margin-left:5%;
    background-color: rgb(255, 166, 0);
    border-radius: 10px;
    border:none;
    box-shadow: 2.5px 2.5px 2.5px grey;
    padding: 0px 25px;      /*horizontal padding size*/
    line-height: 2.5;       /*vertical size of button*/
    font-size: 20px;        /*font size of sign up*/
    font-weight: 600;
    text-align: center;     /*centers text*/
    color: white;       /*button text color*/
}
button:hover{
    background-color: rgb(164, 107, 0);
}
a:hover{
    color: white;
}
