body{
    display:flex;
}
.image-container{
    position:relative;
}
.NYC-Street{
    border: solid red 3px;
    z-index: 1;
}
.odin-logo-container{
    display:flex;
    border: solid red 3px;
    opacity: 0.6;
    background: black;
    color:white;
    font-size: 1.2em;
    font-family: roboto;
    position:absolute;
    z-index: 2;
    top: 25px;
    left:80%;
}